* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    margin-left:690px;
    align-items: center;
}

/* Estilos Gerais */
body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #bfd5f6; 
    margin: 0; 
    padding: 20px;
}

#chat-container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    background: #5f3838;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    height: 85vh;
    overflow: hidden;
}

/* Janela de Mensagens */
#chat-window {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #f1f192;; /* Cor estilo WhatsApp */
}

/* Container de Mensagem (Foto + Balão) */
.message-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    gap: 8px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    background: #ccc;
}

.bubble {
    padding: 10px 14px;
    border-radius: 18px;
    font-size: 14px;
    line-height: 1.4;
    max-width: 75%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

/* Lado do Robô */
.bot { 
    flex-direction: row;
}

.bot .bubble { 
    background: white; 
    color: #333; 
    border-bottom-left-radius: 2px;
}

/* Lado do Usuário */
.user { 
    flex-direction: row-reverse;
}

.user .bubble { 
    background: #dcf8c6; 
    color: #333; 
    border-bottom-right-radius: 2px;
}

/* Área de Input */
#input-area {
    display: flex;
    padding: 15px;
    background: #690e0e;
    gap: 10px;
}

#user-input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 25px;
    outline: none;
}

#send-btn {
    background: #25d366;
    color: rgb(16, 15, 15);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#send-btn:hover { 
    background: #128c7e;
}